@import url("../font/font.css");
@import url("reset.css");

body {
    color: #070303;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 640px;
    font-family: dejavu-sans, sans-serif;
    background: #f8fffc
}

div#content {
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}

div#header {
    background-color: #ffffff;
    border-bottom: 2px solid black;
    padding: 12px 20px 12px 20px;
    margin-top: 10px
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#footer {
    background-color: #ffffff;
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    padding: 12px 20px 12px 20px;
    text-align: right;
}

div#content {
    padding-top: 30px;
    padding-bottom: 30px;
}

div#content p {
    text-align: justify
}

h1, h2, h3, h4 { font-weight: bold }

h1 {
    font-size: 24px;
    margin: 10px 0px;
}

h2 {
    font-size: 20px;
    margin: 20px 0px 10px 0px;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

/** Syntax hihglighting **/
pre { background-color: #f7faff;
      border: 1px solid #e8f0ff;
      padding: 5px 10px;
      font-family: dejavu-mono, monospace }
p code { background-color: #f7faff;
         border: 1px solid #e8f0ff;
         padding: 2px 4px;
         font-family: dejavu-mono, monospace;
         font-size: 80% }
code.haskell { font-family: dejavu-sans, sans-serif }
.sourceCode .kw { color: #268BD2; }
.sourceCode .dt { color: #268BD2; }
.sourceCode .dv, .sourceCode .bn, .sourceCode .fl { color: #D33682; }
.sourceCode .ch { color: #DC322F; }
.sourceCode .st { color: #2AA198; }
.sourceCode .co { color: #93A1A1; }
.sourceCode .ot { color: #A57800; }
.sourceCode .al { color: #CB4B16; font-weight: bold; }
.sourceCode .fu { color: #268BD2; }
.sourceCode .re { }
.sourceCode .er { color: #D30102; font-weight: bold; }

a { text-decoration: none }
a:hover { text-decoration: underline }

pre, p, ul { margin: 20px 0px;
         line-height: 1.3em }

ul { list-style: square outside;
     margin-left: 10px }
li { margin: 10px 0; }
li > p {  }

img { max-width: 600px }

pre {
    overflow: auto;
    font-size: 0.8em
}

strong { font-weight: bold; }